html
  head
    title= title
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css')
  body
    div.ui.text.container
      h1.ui.centered.header= message
      footer
        p Powered by Node.js
